<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.braunster.tutorialview">

    <application>

        <activity android:name="com.braunster.tutorialview.TutorialActivity"
                  android:theme="@style/TutorialActivityTheme"/>
    </application>

</manifest>
